@model courierMs.ViewModel.MultiModelVM

@{
    ViewData["Title"] = "Create";
}


<h1 class="text-center display-5">Create Customer & Parcel Info</h1>


<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-center align-items-start min-vh-100 pt-5">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0">Customer Details</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h3 class="mb-0 text-center text-dark">Sender Information</h3>
                                        <hr />
                                        <label asp-for="Customerinfo.S_Name" class="control-label">Sender Name</label>
                                        <input asp-for="Customerinfo.S_Name" id="name" class="form-control" />
                                        <span asp-validation-for="Customerinfo.S_Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h3 class="mb-0 text-center text-dark">Receiver Information</h3>
                                        <hr />
                                        <label asp-for="Customerinfo.R_Name" class="control-label">Reciever Name</label>
                                        <input asp-for="Customerinfo.R_Name" id="name1" class="form-control" />
                                        <span asp-validation-for="Customerinfo.R_Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Customerinfo.S_PhoneNumber" class="control-label">Phone Number</label>
                                        <input asp-for="Customerinfo.S_PhoneNumber" id="p_number" class="form-control" />
                                        <span asp-validation-for="Customerinfo.S_PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Customerinfo.R_PhoneNumber" class="control-label">Phone Number</label>
                                        <input asp-for="Customerinfo.R_PhoneNumber" id="p_number1" class="form-control" />
                                        <span asp-validation-for="Customerinfo.R_PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Customerinfo.S_Email" class="control-label">Email</label>
                                        <input asp-for="Customerinfo.S_Email" id="email" class="form-control" />
                                        <span asp-validation-for="Customerinfo.S_Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Customerinfo.R_Email" class="control-label">Email</label>
                                        <input asp-for="Customerinfo.R_Email" id="email1" class="form-control" />
                                        <span asp-validation-for="Customerinfo.R_Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Customerinfo.S_Address" class="control-label">Address</label>
                                        <input asp-for="Customerinfo.S_Address" id="address" class="form-control" />
                                        <span asp-validation-for="Customerinfo.S_Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Customerinfo.R_Address" class="control-label">Address</label>
                                        <input asp-for="Customerinfo.R_Address" id="address1" class="form-control" />
                                        <span asp-validation-for="Customerinfo.R_Address" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Customerinfo.S_Note" class="control-label">Note</label>
                                        <input asp-for="Customerinfo.S_Note" id="note" class="form-control" />
                                        <span asp-validation-for="Customerinfo.S_Note" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Customerinfo.R_Note" class="control-label">Special Message</label>
                                        <input asp-for="Customerinfo.R_Note" id="note1" class="form-control" />
                                        <span asp-validation-for="Customerinfo.R_Note" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Customerinfo.S_city" class="control-label">Select One</label>
                                        <select asp-for="Customerinfo.S_city" id="city" class="form-control">
                                            <option value="-1">Select One</option>
                                            @if (ViewBag.CityList != null)
                                            {
                                                @foreach (var city in ViewBag.CityList)
                                                {
                                                    <option value="@city.Value">@city.Name</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="">No cities available</option>
                                            }

                                        </select>
                                        <span asp-validation-for="Customerinfo.S_city" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Customerinfo.R_city" class="control-label">Select One</label>
                                        <select asp-for="Customerinfo.R_city" id="city1" class="form-control">
                                            <option value="-1">Select One</option>
                                            @if (ViewBag.CityList != null)
                                            {
                                                @foreach (var city in ViewBag.CityList)
                                                {
                                                    <option value="@city.Value">@city.Name</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="">No cities available</option>
                                            }

                                        </select>
                                        <span asp-validation-for="Customerinfo.R_city" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <h3 class="text-center text-dark">Parcel Info</h3>
                            <hr />
                            <br/>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Percelinfo.ParcelType" class="control-label">Select Parcel Type</label>
                                        <select asp-for="Percelinfo.ParcelType" id="percel" class="form-control">
                                            <option value="-1">Select ParcelType</option>
                                            @if (ViewBag.PercelList != null)
                                            {
                                                @foreach (var city in ViewBag.PercelList)
                                                {
                                                    <option value="@city.Value">@city.Name</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="">No cities available</option>
                                            }

                                        </select>
                                        <span asp-validation-for="Percelinfo.ParcelType" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Percelinfo.Weight" class="control-label">Weight</label>
                                        <input asp-for="Percelinfo.Weight" id="weight" class="form-control" />
                                        <span asp-validation-for="Percelinfo.Weight" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Percelinfo.Price" class="control-label">Price</label>
                                        <input asp-for="Percelinfo.Price" id="price" class="form-control" />
                                        <span asp-validation-for="Percelinfo.Price" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Percelinfo.Note" class="control-label">Note</label>
                                        <input asp-for="Percelinfo.Note" id="note2" class="form-control" />
                                        <span asp-validation-for="Percelinfo.Note" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="mr-auto ">
                                    <a asp-action="Index" class="btn btn-primary text-end">Back to List</a>
                                </div>
                                <div class="form-group  ">
                                    <input type="submit" value="Create" class="btn btn-primary  " />
                                    <input type="submit" value="Clear" id="clearButton" class="btn btn-danger  " />

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/jquery-3.6.0.min.js"></script>
<script src="~/js/alert.js"></script>


<script>
    $(document).ready(function () {
        $('#clearButton').click(function () {
            // Clear the form
            $('#name').val('');
            $('#name1').val('');
            $('#p_number').val('');
            $('#p_number1').val('');
            $('#email').val('');
            $('#email1').val('');
            $('#address').val('');
            $('#address1').val('');
            $('#note').val('');
            $('#note1').val('');
            $('#city').val('');
            $('#city1').val('');
            $('#percel').val('');
            $('#weight').val('');
            $('#price').val('');
            $('#note2').val('');
        });
    });
</script>



        @*       <div class="form-group">
        <label asp-for="CustomerId" class="control-label"></label>
        <input asp-for="CustomerId" class="form-control" />
        <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="Note" class="control-label"></label>
        <input asp-for="Note" class="form-control" />
        <span asp-validation-for="Note" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="city" class="control-label"></label>
        <input asp-for="city" class="form-control" />
        <span asp-validation-for="city" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="CreatedAt" class="control-label"></label>
        <input asp-for="CreatedAt" class="form-control" />
        <span asp-validation-for="CreatedAt" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="CreatedBy" class="control-label"></label>
        <input asp-for="CreatedBy" class="form-control" />
        <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="UpdatedAt" class="control-label"></label>
        <input asp-for="UpdatedAt" class="form-control" />
        <span asp-validation-for="UpdatedAt" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="UpdatedBy" class="control-label"></label>
        <input asp-for="UpdatedBy" class="form-control" />
        <span asp-validation-for="UpdatedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        </form>
        </div>
        </div>
        *@
