@model courierMs.ViewModel.MultiModelVM

@{
    ViewData["Title"] = "Create";

}




<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-center align-items-start min-vh-100">
            <div class="col-md-12">
                <div class="card shadow-lg">
                    <div class="card-header text-white text-center " style="background-color:#54a0ff">
                        <h1 class="mb-0 display-5">Create Customer & Parcel Info</h1>
                    </div>
                    <div class="card-body" id="price-items">
                        <form asp-action="Create" id="formData" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6 mr-5">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h3 class="mb-0 text-center text-dark">Sender Information</h3>
                                                <hr />
                                                <label asp-for="Customerinfo.Name" class="control-label">Sender Name</label>
                                                <input asp-for="Customerinfo.Name" id="name" class="form-control" placeholder="Enter Sender Name" />
                                                <input asp-for="Customerinfo.Id" id="Id" name="Id" hidden />
                                                <span asp-validation-for="Customerinfo.Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h3 class="mb-0 text-center text-dark">Receiver Information</h3>
                                                <hr />
                                                <label asp-for="ReceiverInfo.Name" class="control-label">Reciever Name</label>
                                                <input asp-for="ReceiverInfo.Name" id="name1" class="form-control" placeholder="Enter Reciever Name" />
                                                <span asp-validation-for="ReceiverInfo.Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Customerinfo.PhoneNumber" class="control-label">Phone Number</label>
                                                <input asp-for="Customerinfo.PhoneNumber" id="p_number" class="form-control" placeholder="Enter Sender Number" />
                                                <span asp-validation-for="Customerinfo.PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="ReceiverInfo.PhoneNumber" class="control-label">Phone Number</label>
                                                <input asp-for="ReceiverInfo.PhoneNumber" id="p_number1" class="form-control" placeholder="Enter Reciever Number" />
                                                <span asp-validation-for="ReceiverInfo.PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Customerinfo.Email" class="control-label">Email</label>
                                                <input asp-for="Customerinfo.Email" id="email" class="form-control" placeholder="Enter Sender Email" />
                                                <span asp-validation-for="Customerinfo.Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="ReceiverInfo.Email" class="control-label">Email</label>
                                                <input asp-for="ReceiverInfo.Email" id="email1" class="form-control" placeholder="Enter Reciever Email" />
                                                <span asp-validation-for="ReceiverInfo.Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Customerinfo.Address" class="control-label">Address</label>
                                                <input asp-for="Customerinfo.Address" id="address" class="form-control" placeholder="Enter Sender Address" />
                                                <span asp-validation-for="Customerinfo.Address" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="ReceiverInfo.Address" class="control-label">Address</label>
                                                <input asp-for="ReceiverInfo.Address" id="address1" class="form-control" placeholder="Enter Reciever Address" />
                                                <span asp-validation-for="ReceiverInfo.Address" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Customerinfo.Note" class="control-label">Note</label>
                                                <input asp-for="Customerinfo.Note" id="note" class="form-control" placeholder="Enter Note" />
                                                <span asp-validation-for="Customerinfo.Note" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="ReceiverInfo.Note" class="control-label">Message</label>
                                                <input asp-for="ReceiverInfo.Note" id="note1" class="form-control" placeholder="Enter Note" />
                                                <span asp-validation-for="ReceiverInfo.Note" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Customerinfo.city" class="control-label">City</label>
                                                <select asp-for="Customerinfo.city" id="city" class="form-control">
                                                    <option value="-1">Select City</option>
                                                    @if (ViewBag.CityList != null)
                                                    {
                                                        @foreach (var city in ViewBag.CityList)
                                                        {
                                                            <option value="@city.Value">@city.Name</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="">No cities available</option>
                                                    }

                                                </select>
                                                <span asp-validation-for="Customerinfo.city" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="ReceiverInfo.city" class="control-label">City</label>
                                                <select asp-for="ReceiverInfo.city" id="city1" class="form-control">
                                                    <option value="-1">Select City</option>
                                                    @if (ViewBag.CityList != null)
                                                    {
                                                        @foreach (var city in ViewBag.CityList)
                                                        {
                                                            <option value="@city.Value">@city.Name</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="">No cities available</option>
                                                    }

                                                </select>
                                                <span asp-validation-for="ReceiverInfo.city" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 ml-5">
                                    <div>
                                        <h3 class="text-center text-dark">Parcel Info</h3><hr>
                                    </div>
                                    
                                    <div class="">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label asp-for="Percelinfo.ParcelType" class="control-label">Parcel Type</label>
                                                <select asp-for="Percelinfo.ParcelType" id="percel" class="form-control">
                                                    <option value="-1">Select ParcelType</option>
                                                    @if (ViewBag.PercelList != null)
                                                    {
                                                        @foreach (var city in ViewBag.PercelList)
                                                        {
                                                            <option value="@city.Value">@city.Name</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="">Not available</option>
                                                    }

                                                </select>
                                                <span asp-validation-for="Percelinfo.ParcelType" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label asp-for="Percelinfo.Note" class="control-label">Note</label>
                                                <input asp-for="Percelinfo.Note" id="note2" class="form-control" placeholder="Enter Note" />
                                                <span asp-validation-for="Percelinfo.Note" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Charge(৳)</label>
                                                <input id="charge" class="form-control" onkeyup="calculateTotal(this)" autocomplete="off" placeholder="Enter Charge" />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label asp-for="Percelinfo.Weight" class="control-label">Quantity</label>
                                                <input asp-for="Percelinfo.Weight" id="weight" class="form-control" autocomplete="off" onkeyup="calculateTotal(this)" placeholder="Enter Weight" />
                                                <span asp-validation-for="Percelinfo.Weight" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label asp-for="Percelinfo.Price" class="control-label">Price</label>
                                                <input asp-for="Percelinfo.Price" id="price" class="form-control" readonly />
                                                <span asp-validation-for="Percelinfo.Price" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2 ">
                                            <div class="card shadow-lg">
                                                <div class="card-header text-white text-start " style="background-color:blueviolet">
                                                    <h3 class="mb-0 d-flex justify-content-center">Invoice Information</h3>
                                                </div>
                                                <div class="card-body" style="background-color:#6c5ce7">
                                                    <div class="col-md-12">

                                                        <div class="text-white">
                                                            <div class="row">
                                                                <div class="row pt-4 col-md-12">
                                                                    <label asp-for="Invoice.InvoiceId" class="col-md-5 control-label">Invoice No:</label>
                                                                    <input asp-for="Invoice.InvoiceId" id="InvoiceId" class="form-control col-md-7" placeholder="Invoice Number" value="@DateTime.Now.ToString("yyMMddHHmm")" readonly />
                                                                </div>
                                                                <div class="row pt-4 col-md-12 ">
                                                                    <label asp-for="Invoice.Email" class="col-md-5 control-label">Holder Name:</label>
                                                                    <input asp-for="Invoice.Email" id="HolderName" class="form-control col-md-7" placeholder="Holder Name" value="@User.Identity.Name" readonly />
                                                                </div>
                                                                <div class="row pt-4 col-md-12">
                                                                    <label asp-for="Invoice.Date" class="col-md-5 control-label">Date:</label>
                                                                    <input asp-for="Invoice.Date" id="Date" class="form-control col-md-7" type="datetime-local" placeholder="Date" />
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="row mt-2">
                                            <div class="mr-auto ">
                                                <a asp-action="Index" class="btn btn-primary text-end">Back to List</a>
                                            </div>
                                            <div class="form-group  ">
                                                <input type="submit" value="Clear" id="clearButton" class="btn btn-danger  " />
                                                <button type="submit" class="btn btn-info" id="printButton">print</button>
                                                <input type="submit" value="Create" id="submitButton" class="btn btn-primary  " />


                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/jquery-3.6.0.min.js"></script>
<script src="~/js/alert.js"></script>


<script>
    $(document).ready(function () {

        $('#clearButton').click(function () {
            // Clear the form
            $('#name').val('');
            $('#name1').val('');
            $('#p_number').val('');
            $('#p_number1').val('');
            $('#email').val('');
            $('#email1').val('');
            $('#address').val('');
            $('#address1').val('');
            $('#note').val('');
            $('#note1').val('');
            $('#city').val('');
            $('#city1').val('');
            $('#charge').val('');
            $('#percel').val('');
            $('#weight').val('');
            $('#price').val('');
            $('#note2').val('');
            $('#InvoiceId').val('');
            $('#HolderName').val('');
            $('#Date').val('');
        });
    });
</script>
<script>
    document.getElementById('formData').addEventListener('submit', function (event) {
        // Allow the form to submit normally
        setTimeout(function () {
           
            document.getElementById('formData').reset();
        }, 100); 
    });
</script>

<script>
    function calculateTotal(element) {

        const itemRow = element.closest('#price-items');

        const Weight = parseFloat(document.getElementById('weight').value) || 0;
        const Charge = parseFloat(document.getElementById('charge').value) || 0;
        const Type = document.getElementById('percel').value;
        const chargeCal = calculateCharge(Type, Weight, Charge);
        

        const price = document.getElementById('price');
        price.value = chargeCal;
        //itemRow.querySelector('input[name*="Total"]').value = total;

    }

    function calculateCharge(Type, Weight, Charge) {
        switch (Type) {
            case 'Paper':
                return (Weight * Charge);
            case 'Tool':
                return (Weight * Charge);
            case 'Chemical':
                return (Weight * Charge);
            case 'Machine':
                return (Weight * Charge);
            default:
                return 0;
        }

    }
</script>
<script>
    $(document).ready(function () {

        $("#printButton").click(function (event) {
            event.preventDefault();

            var invoiceData = {
                Customerinfo: {
                    Id: $('#Id').val(),
                    
                    Name: $('#name').val(),
                    PhoneNumber: $('#p_number').val(),
                    Email: $('#email').val(),
                    Address: $('#address').val(),
                    Note: $('#note').val(),
                    city: $('#city').val()
                },
                ReceiverInfo: {
                    Id: $('#Id').val(),
                    
                    Name: $('#name1').val(),
                    PhoneNumber: $('#p_number1').val(),
                    Email: $('#email1').val(),
                    Address: $('#address1').val(),
                    Note: $('#note1').val(),
                    city: $('#city1').val()
                },
                Percelinfo: {
                    
                    ParcelType: $('#percel').val(),
                    Weight: parseFloat($('#weight').val()),
                    Price: parseFloat($('#price').val()),
                    Note: $('#note2').val(),
                    SenderId: $('#SenderId').val(),
                    ReceiverId: $('#ReceiverId').val()
                },
                Invoice: {
                    InvoiceId: $('#InvoiceId').val(),
                    Date: $('#Date').val(),
                    Email: $('#HolderName').val()
                },
                IsPrint: true 
            };

            console.log(invoiceData);
            $.ajax({
                url: '@Url.Action("Report", "Customer")',
                type: 'POST',
                data: invoiceData, 
                success: function () {
                    // Open a new tab or window for the Invoice Print action
                    window.open('@Url.Action("InvoicePrint", "Customer")', '_blank');
                    
                },
                error: function () {
                    alert("Failed to print invoice.");
                }
            });
        });
    });

</script>



        @*       <div class="form-group">
        <label asp-for="CustomerId" class="control-label"></label>
        <input asp-for="CustomerId" class="form-control" />
        <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="Note" class="control-label"></label>
        <input asp-for="Note" class="form-control" />
        <span asp-validation-for="Note" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="city" class="control-label"></label>
        <input asp-for="city" class="form-control" />
        <span asp-validation-for="city" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="CreatedAt" class="control-label"></label>
        <input asp-for="CreatedAt" class="form-control" />
        <span asp-validation-for="CreatedAt" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="CreatedBy" class="control-label"></label>
        <input asp-for="CreatedBy" class="form-control" />
        <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="UpdatedAt" class="control-label"></label>
        <input asp-for="UpdatedAt" class="form-control" />
        <span asp-validation-for="UpdatedAt" class="text-danger"></span>
        </div>
        <div class="form-group">
        <label asp-for="UpdatedBy" class="control-label"></label>
        <input asp-for="UpdatedBy" class="form-control" />
        <span asp-validation-for="UpdatedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        </form>
        </div>
        </div>
        *@
