@model IEnumerable<courierMs.ViewModel.MultiModelVM>
@{
    ViewData["Title"] = "ShowList";

}

<link rel='stylesheet' href='https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css'>


<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg mb-4">
            <div class="card-header text-white text-center" style="background-color:#2980b9">
                <h4 class="mb-0">List of Sender</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered text-center align-middle display" id="lookupTable">
                    <thead class="text-white" style="background-color:#3498db">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">Note</th>
                            <th scope="col">City</th>
                            <th scope="col">Action</th>


                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                if (item.Customerinfo != null)
                                {
                                    <tr class="text-dark">
                                        <td>@item.Customerinfo.Name</td>
                                        <td>@item.Customerinfo.PhoneNumber</td>
                                        <td>@item.Customerinfo.Email</td>
                                        <td>@item.Customerinfo.Address</td>
                                        <td>@item.Customerinfo.Note</td>
                                        <td>@item.Customerinfo.city</td>
                                        <td>
                                            <button type="button" id="GetupdateButton" class="btn btn-outline-primary btn-md " data-id="@item.Customerinfo.Id" onclick="location.href='@Url.Action("GetUpdate", "Customer", new { id = item.Customerinfo.Id })'">
                                                Update
                                            </button>
                                        </td>

                                    </tr>

                                }

                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card shadow-lg mb-4">
            <div class="card-header text-white text-center" style="background-color:#2980b9">
                <h4 class="mb-0">List of Receiver</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered text-center align-middle" id="lookupTable2">
                    <thead class="text-white" style="background-color:#3498db">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">Note</th>
                            <th scope="col">City</th>
                            <th scope="col">Action</th>


                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                if (item.ReceiverInfo != null)
                                {
                                    <tr class ="text-dark">
                                        <td>@item.ReceiverInfo.Name</td>
                                        <td>@item.ReceiverInfo.PhoneNumber</td>
                                        <td>@item.ReceiverInfo.Email</td>
                                        <td>@item.ReceiverInfo.Address</td>
                                        <td>@item.ReceiverInfo.Note</td>
                                        <td>@item.ReceiverInfo.city</td>
                                        <td>
                                            <button type="button" id="GetupdateButton" class="btn btn-outline-primary btn-md " data-id="@item.ReceiverInfo.Id" onclick="location.href='@Url.Action("GetUpdate", "Customer", new { id = item.ReceiverInfo.Id })'">Update</button>

                                        </td>

                                    </tr>
                                }

                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card shadow-lg mb-4">
        <div class="card-header text-white text-center" style="background-color:#2980b9">
            <h4 class="mb-0">Percel Details</h4>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered text-center align-middle" id="lookupTable3">
                <thead class="text-white" style="background-color:#3498db">
                    <tr>
                        <th scope="col">Percel Type</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Price</th>
                        <th scope="col">Note</th>
                        <th scope="col">Sender Id</th>
                        <th scope="col">Reciever Id</th>
                        <th scope="col">Action</th>


                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach(var item in Model)
                        {
                            if (item.Percelinfo != null)
                            {
                                <tr class="text-dark">
                                    <td>@item.Percelinfo.ParcelType</td>
                                    <td>@item.Percelinfo.Weight</td>
                                    <td>@item.Percelinfo.Price</td>
                                    <td>@item.Percelinfo.Note</td>
                                    <td>@item.Percelinfo.SenderId</td>
                                    <td>@item.Percelinfo.ReceiverId</td>


                                    <td>
                                        <button type="button" id="GetupdateButton" class="btn btn-outline-primary btn-md " data-id="@item.Percelinfo.Id" onclick="location.href='@Url.Action("GetUpdate", "Customer", new { id = item.Percelinfo.Id })'">Update</button>
                                        
                                    </td>


                                </tr>
                            }
                        }
                       
                        
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-muted">No data available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="~/js/jquery-3.6.0.min.js"></script>@* age javascript then datatables dite hobe*@
<script src='https://cdn.datatables.net/2.1.8/js/dataTables.js'></script>
<script src="~/js/alert.js"></script>

<script>
    // for pagination
    new DataTable('#lookupTable');
    new DataTable('#lookupTable2');
    new DataTable('#lookupTable3');

</script>