@model IEnumerable<courierMs.ViewModel.MultiModelVM>
@{
    ViewData["Title"] = "ShowList";

}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg mb-4">
            <div class="card-header bg-secondary text-white text-center">
                <h4 class="mb-0">List of Sender</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered text-center align-middle" id="lookupTable">
                    <thead class="text-white bg-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">Note</th>
                            <th scope="col">City</th>
                            <th scope="col">Action</th>


                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                if (item.SenderInfo != null)
                                {
                                    <tr>
                                        <td>@item.SenderInfo.S_Name</td>
                                        <td>@item.SenderInfo.S_PhoneNumber</td>
                                        <td>@item.SenderInfo.S_Email</td>
                                        <td>@item.SenderInfo.S_Address</td>
                                        <td>@item.SenderInfo.S_Note</td>
                                        <td>@item.SenderInfo.S_city</td>
                                        <td>
                                            <button type="button" id="GetupdateButton" class="btn btn-outline-primary btn-md " data-id="@item.SenderInfo.Id">Update</button>
                                            <button type="button" id="deleteButton" class="btn btn-outline-danger btn-md" data-id="@item.SenderInfo.Id">Delete</button>
                                        </td>

                                    </tr>

                                }

                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card shadow-lg mb-4">
            <div class="card-header bg-secondary text-white text-center">
                <h4 class="mb-0">List of Receiver</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered text-center align-middle" id="lookupTable">
                    <thead class="text-white bg-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">Note</th>
                            <th scope="col">City</th>
                            <th scope="col">Action</th>


                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                if (item.ReceiverInfo != null)
                                {
                                    <tr>
                                        <td>@item.ReceiverInfo.R_Name</td>
                                        <td>@item.ReceiverInfo.R_PhoneNumber</td>
                                        <td>@item.ReceiverInfo.R_Email</td>
                                        <td>@item.ReceiverInfo.R_Address</td>
                                        <td>@item.ReceiverInfo.R_Note</td>
                                        <td>@item.ReceiverInfo.R_city</td>
                                        <td>
                                            <button type="button" id="GetupdateButton" class="btn btn-outline-primary btn-md " data-id="@item.ReceiverInfo.Id">Update</button>
                                            <button type="button" id="deleteButton" class="btn btn-outline-danger btn-md" data-id="@item.ReceiverInfo.Id">Delete</button>
                                        </td>

                                    </tr>
                                }

                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card shadow-lg mb-4">
        <div class="card-header bg-secondary text-white text-center">
            <h4 class="mb-0">Percel Details</h4>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered text-center align-middle" id="lookupTable">
                <thead class="text-white bg-dark">
                    <tr>
                        <th scope="col">Percel Type</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Price</th>
                        <th scope="col">Note</th>
                        <th scope="col">Sender Id</th>
                        <th scope="col">Reciever Id</th>
                        <th scope="col">Action</th>


                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach(var item in Model)
                        {
                            if (item.Percelinfo != null)
                            {
                                <tr>
                                    <td>@item.Percelinfo.ParcelType</td>
                                    <td>@item.Percelinfo.Weight</td>
                                    <td>@item.Percelinfo.Price</td>
                                    <td>@item.Percelinfo.Note</td>
                                    <td>@item.Percelinfo.SenderId</td>
                                    <td>@item.Percelinfo.ReceiverId</td>


                                    <td>
                                        <button type="button" id="GetupdateButton" class="btn btn-outline-primary btn-md " data-id="@item.Percelinfo.Id">Update</button>
                                        <button type="button" id="deleteButton" class="btn btn-outline-danger btn-md" data-id="@item.Percelinfo.Id">Delete</button>
                                    </td>


                                </tr>
                            }
                        }
                       
                        
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-muted">No data available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>



</script>
