@model IEnumerable<courierMs.ViewModel.TrackerinfoVM>

@{
    ViewData["Title"] = "Assign Order";


}
<link rel='stylesheet' href='https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css'>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg mb-4">
            <div class="card-header text-white text-center" style="background-color:#2980b9">
                <h4 class="mb-0">Track</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered text-center align-middle display" id="parcelTable">
                    <thead class="text-white" style="background-color:#3498db">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Percel Details</th>
                            <th scope="col">Sender Details</th>
                            <th scope="col">Reciever Details</th>
                            <th scope="col">Tracker Details</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>


                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {

                            foreach (var item in Model)
                            {

                                <tr class="text-dark">
                                    <td>@item.Percelinfo.Id</td>
                                    <td>
                                        <b>Parcel Type:</b> @item.Percelinfo.ParcelType <br />
                                        <b>Weight:</b> @item.Percelinfo.Weight <br />
                                        <b>Price:</b> @item.Percelinfo.Price <br />
                                    </td>
                                    <td>
                                        <b>Name:</b> @item.Customerinfo.Name <br />
                                        <b>PhoneNumber:</b> @item.Customerinfo.PhoneNumber <br />
                                        <b>Address :</b> @item.Customerinfo.Address ,@item.Customerinfo.city<br />

                                    </td>
                                    <td>
                                        <b>Name:</b> @item.ReceiverInfo.Name <br />
                                        <b>PhoneNumber:</b> @item.ReceiverInfo.PhoneNumber <br />
                                        <b>Address :</b> @item.ReceiverInfo.Address ,@item.ReceiverInfo.city<br />

                                    </td>
                                    <td>
                                        <b>Tracker Name:</b> @item.Percelinfo.Rider <br />
                                        <b>Tracker Number:</b> @item.Percelinfo.TrackingNumber <br />
                                    </td>
                                    <td id="status-@item.Percelinfo.Id">
                                        @item.Percelinfo.Status
                                    </td>
                                    <td>
                                        <div class="row">

                                            <button type="button" id="DeliverButton" class="btn btn-success btn-sm ml-1" data-id="@item.Percelinfo.Id" onclick="Deliver(this)">Delivered</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script src="~/js/jquery-3.6.0.min.js"></script>
<script src='https://cdn.datatables.net/2.1.8/js/dataTables.js'></script>
<script src="~/js/alert.js"></script>
<script>
    // for pagination
    new DataTable('#parcelTable');

</script>
<script>


    function Deliver(button) {
        const parcelId = $(button).data("id");
        console.log(parcelId);

        $.ajax({
            url: '/Customer/UpdateStatus',
            type: 'POST',
            data: { ParcelId: parcelId },
            success: function (response) {
                if (response.success) {
                    Swal.fire("Delivered!", "Success");
                    debugger;
                    console.log(response.data);
                    $('#status-' + parcelId).text(response.data.status);

                } else {
                    Swal.fire("Error!", response.message, "error");
                }
            },
            error: function (xhr, status, error) {
                Swal.fire("Error!", `Status: ${ status }, Error: ${ error }`, "error");
            }
        });
    }
</script>
